<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>{% block title %}DTF Optimazer{% endblock %}</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/flag-icons/css/flag-icons.min.css">

        <!-- ========================= CSS here ========================= -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('assets/css/LineIcons.2.0.css') }}">

        <link rel="stylesheet" href="{{ asset('assets/css/animate.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/lindy-uikit.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/logosSheet.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"/>

        <style>
            #toast-container > div {
                padding: 20px 15px 20px 50px;
                opacity: 1;
            }

        </style>
    {% endblock %}
</head>
{% trans_default_domain 'HomePage' %}
<body>
<!--[if lte IE 9]>
<p class="browserupgrade">
    You are using an <strong>outdated</strong> browser. Please
    <a href="https://browsehappy.com/">upgrade your browser</a> to improve
    your experience and security.
</p>
<![endif]-->

<!-- ========================= preloader start ========================= -->
<div id="preloader" class="preloader">
    <div class="loader">
        <div class="spinner">
            <div class="spinner-container">
                <div class="spinner-rotator">
                    <div class="spinner-left">
                        <div class="spinner-circle"></div>
                    </div>
                    <div class="spinner-right">
                        <div class="spinner-circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ========================= preloader end ========================= -->

<!-- ========================= header-2 start ========================= -->
<style>
    .header.header-2 .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #ffffff;
        z-index: 9999;
    }

    body {
        padding-top: 4rem;
    }

    .navbar {
        align-items: flex-start; /* IMPORTANT */
    }

    .navbar-brand img {
        height: 100%; /* logo grand */
        width: auto;
    }

    .navbar-nav {
        margin-top: 15px; /* descend le menu */
    }

    .navbar-nav .nav-item a {
        padding: 6px 14px; /* réduit la hauteur des liens */
        line-height: 1.2;
    }


</style>
<header class="header header-2">
    <div class="navbar-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="{{ path('app_generator') }}">
                            <img src="{{ asset('/img/logo-transparent-png.png') }}" alt="Logo"/>
                        </a>
                        <button class="navbar-toggler" type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent2"
                                aria-controls="navbarSupportedContent2"
                                aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent2">
                            <ul id="nav2" class="navbar-nav ms-auto">
                                <li class="nav-item">
                                    <a class="page-scroll active"
                                       href="{{ path('app_generator') }}">{{ 'Home'|trans({}, 'HomePage') }}</a>
                                </li>
                                <li class="nav-item">
                                    <div class="dropdown ms-auto">
                                        <button class="btn btn-outline-secondary dropdown-toggle d-flex align-items-center"
                                                type="button"
                                                data-bs-toggle="dropdown"
                                                aria-expanded="false">
                                            {% if app.request.locale == 'fr' %}
                                                <span class="fi fi-fr me-2"></span> FR
                                            {% else %}
                                                <span class="fi fi-gb me-2"></span> EN
                                            {% endif %}
                                        </button>

                                        <ul class="dropdown-menu dropdown-menu-end shadow">
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center
                {{ app.request.locale == 'fr' ? 'active' : '' }}"
                                                   href="{{ path('app_generator', {'_locale': 'fr'}) }}">
                                                    <span class="fi fi-fr me-2"></span> Français
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center
                {{ app.request.locale == 'en' ? 'active' : '' }}"
                                                   href="{{ path('app_generator', {'_locale': 'en'}) }}">
                                                    <span class="fi fi-gb me-2"></span> English
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                </li>
                                {% if app.request.attributes.get('_route') != 'app_generator_2' %}
                                    <li class="nav-item">
                                        <a class="page-scroll"
                                           href="#feature">{{ 'Fonctionnalités'|trans({}, 'HomePage') }}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#pricing">{{ 'Pricing'|trans({}, 'HomePage') }}</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="page-scroll"
                                           href="#partner">{{ 'Partenaria'|trans({}, 'HomePage') }}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#contact">{{ 'Contact'|trans({}, 'HomePage') }}</a>
                                    </li>
                                {% endif %}

                            </ul>
                            <div class="buttons">
                                <a href="{{ path('app_generator_2') }}" rel="nofollow" target="blank"
                                   class="button radius-10 wow fadeInUp"
                                   data-wow-delay=".7s">{{ 'StartNow'|trans({}, 'HomePage') }}</a>

                            </div>
                            <style>
                                .test {
                                    font-size: 18px;
                                    font-weight: 600;
                                    color: #585978;
                                    transition: all 0.3s ease-out 0s;
                                    padding: 10px 30px;
                                    position: relative;
                                    display: inline-block;
                                    z-index: 1;
                                }
                            </style>
                            {% if app.user %}
                                <div class="dropdown">
                                    <a class="test dropdown-toggle"
                                       href="#"
                                       id="userDropdown"
                                       role="button"
                                       data-bs-toggle="dropdown"
                                       aria-expanded="false">
                                        {{ app.user.firstName }} {{ app.user.lastName }}
                                    </a>

                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                        <li>
                                            <a class="dropdown-item" href="{{ path('app_dashboard') }}">
                                                <i class="lni lni-dashboard"></i> Dashboard
                                            </a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li>
                                            <a class="dropdown-item text-danger" href="{{ path('app_logout') }}">
                                                <i class="lni lni-exit"></i> {{ 'logout'|trans({}, 'HomePage') }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            {% else %}
                                <span class="test">
                                    <a href="{{ path('app_login') }}">{{ 'Login'|trans({}, 'HomePage') }}</a>
                                </span>
                            {% endif %}

                        </div>
                        <!-- navbar collapse -->
                    </nav>
                    <!-- navbar -->
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div><!-- navbar area -->
</header>
<!-- ========================= header-2 end ========================= -->
{% block body %}

{% endblock %}

<!-- ========================= footer style-1 start ========================= -->
<footer class="footer footer-style-1">
    <div class="container">
        <div class="widget-wrapper">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="footer-widget wow fadeInUp" data-wow-delay=".2s">
                        <div class="logo">
                            <a href="#0"> <img src="{{ asset('assets/img/logo/logo.svg') }}" alt=""> </a>
                        </div>
                        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Facilisis nulla
                            placerat amet amet congue.</p>
                        <ul class="socials">
                            <li><a href="#0"> <i class="lni lni-facebook-filled"></i> </a></li>
                            <li><a href="#0"> <i class="lni lni-twitter-filled"></i> </a></li>
                            <li><a href="#0"> <i class="lni lni-instagram-filled"></i> </a></li>
                            <li><a href="#0"> <i class="lni lni-linkedin-original"></i> </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 offset-xl-1 col-lg-2 col-md-6 col-sm-6">
                    <div class="footer-widget wow fadeInUp" data-wow-delay=".3s">
                        <h6>{{ 'QuickLink'|trans({}, 'HomePage') }}</h6>
                        <ul class="links">
                            <li> <a href="#0">{{ 'Home'|trans({}, 'HomePage') }}</a> </li>
                            <li> <a href="#0">{{ 'About'|trans({}, 'HomePage') }}</a> </li>
                            <li> <a href="#0">{{ 'Service'|trans({}, 'HomePage') }}</a> </li>
                            <li> <a href="#0">{{ 'Contact'|trans({}, 'HomePage') }}</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-widget wow fadeInUp" data-wow-delay=".4s">
                        <h6>{{ 'Services'|trans({}, 'HomePage') }}</h6>
                        <ul class="links">
                            <li> <a href="#0">Web Design</a> </li>
                            <li> <a href="#0">Web Development</a> </li>
                            <li> <a href="#0">Seo Optimization</a> </li>
                            <li> <a href="#0">Blog Writing</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="footer-widget wow fadeInUp" data-wow-delay=".5s">
                        <h6>{{ 'HelpSupport'|trans({}, 'HomePage') }}</h6>
                        <ul class="links">
                            <li> <a href="#0">{{ 'SupportCenter'|trans({}, 'HomePage') }}</a> </li>
                            <li> <a href="#0">{{ 'LiveChat'|trans({}, 'HomePage') }}</a> </li>
                            <li> <a href="#0">{{ 'FAQ'|trans({}, 'HomePage') }}</a> </li>
                            <li> <a href="#0">{{ 'TermsConditions'|trans({}, 'HomePage') }}</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-wrapper wow fadeInUp" data-wow-delay=".2s">
            <p>Design and Developed by <a href="https://uideck.com" rel="nofollow" target="_blank">UIdeck</a> Built-with
                <a href="#">Lindy UI Kit</a>. Distibuted by <a href="https://themewagon.com"
                                                               target="_blank">ThemeWagon</a></p>
        </div>
    </div>
</footer>
<!-- ========================= footer style-1 end ========================= -->

<!-- ========================= scroll-top start ========================= -->
<a href="#" class="scroll-top"> <i class="lni lni-chevron-up"></i> </a>
<!-- ========================= scroll-top end ========================= -->
{% block javascripts %}
    <!-- jQuery (uniquement si nécessaire ailleurs) -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <!-- Bootstrap 5 JS (OBLIGATOIRE pour modal) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Autres scripts -->
    <script src="{{ asset('assets/js/count-up.min.js') }}"></script>
    <script src="{{ asset('assets/js/wow.min.js') }}"></script>
    <script src="{{ asset('assets/js/main.js') }}"></script>
    <script src="{{ asset('js/logosSheet.js') }}"></script>

    <!-- Select2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <!-- PDF.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.11.174/pdf.min.js"></script>
    <script>
        pdfjsLib.GlobalWorkerOptions.workerSrc =
            "https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.11.174/pdf.worker.min.js";
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        toastr.options = {
            "closeButton": true,          // Affiche un bouton pour fermer
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,          // Barre de progression
            "positionClass": "toast-top-right",
            "preventDuplicates": true,
            "showDuration": "3000",
            "hideDuration": "5000",
            "timeOut": "4000",            // Durée d'affichage
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>

    <script>
        window.routes = {
            generatorCalculate: "{{ path('app_generator_calculate') }}",
            generatorDownload: "{{ path('app_generator_download') }}",
            generatorFavorite: "{{ path('app_generator_favorite') }}"
        };
    </script>


{% endblock %}

</body>
</html>
