<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>{% block title %}DTF Optimazer{% endblock %}</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="{{ asset('assets/css/LineIcons.2.0.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/lindy-uikit.css') }}">

        <style>
            .vh-85 {
                height: 85vh !important;
            }
            .toast {
                opacity: 1 !important; /* Règle l'opacité à 100% */
            }
            .hero-content-wrapper h1 {
                font-size: 2rem;         /* taille lisible sur desktop */
                font-weight: 700;        /* gras mais pas trop énorme */
                line-height: 1.2;        /* espace entre les lignes */
                color: #222222;          /* couleur texte principale */
                margin-bottom: 0.5rem;   /* espace sous le h1 */
            }

            @media (max-width: 768px) {
                .hero-content-wrapper h1 {
                    font-size: 1.5rem;   /* plus petit sur tablette / mobile */
                }
            }

            @media (max-width: 480px) {
                .hero-content-wrapper h1 {
                    font-size: 1.3rem;   /* encore plus petit sur mobile */
                }
            }

            .hero-content-wrapper h2 {
                font-size: 1.5rem;      /* légèrement plus petit que le H1 */
                font-weight: 600;        /* moins lourd que le H1 */
                line-height: 1.3;        /* espace agréable entre les lignes */
                color: #333333;          /* couleur légèrement plus douce que le H1 */
                margin-bottom: 1rem;     /* espace sous le H2 */
            }

            @media (max-width: 768px) {
                .hero-content-wrapper h2 {
                    font-size: 1.25rem;  /* ajuste sur tablette */
                }
            }

            @media (max-width: 480px) {
                .hero-content-wrapper h2 {
                    font-size: 1.1rem;   /* ajuste sur mobile */
                }
            }

            .flag-menu {
                padding: 10px 8px !important;
            }

        </style>
    {% endblock %}
    {% block structured_data %}
        <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "SoftwareApplication",
  "name": "DTF Optimizer",
  "operatingSystem": "Web",
  "applicationCategory": "GraphicsApplication",
  "url": "{{ app.request.schemeAndHttpHost }}{{ path('app_generator') }}",
  "description": "{{ 'meta.description'|trans }}",
  "image": "{{ 'meta.og_image'|trans }}",
  "offers": {
    "@type": "Offer",
    "price": "0",
    "priceCurrency": "EUR",
    "url": "{{ app.request.schemeAndHttpHost }}{{ path('app_generator_2') }}"
  },
 "featureList": [
    "Génération automatique de planches et bobines DTF optimisées",
    "Réduction des pertes de matériaux grâce à l’optimisation des impressions",
    "Export PDF prêt à l’impression",
    "Gestion intelligente des tailles et quantités d’images",
    "Interface simple pour créer vos planches DTF rapidement"
 ],
  "screenshot": "{{ 'meta.og_image'|trans }}",
  "softwareVersion": "1.0",
  "author": {
    "@type": "Organization",
    "name": "DTF Optimazer"
}

        </script>
    {% endblock %}

</head>
{% trans_default_domain 'HomePage' %}
<body>
<!--[if lte IE 9]>
<p class="browserupgrade">
    You are using an <strong>outdated</strong> browser. Please
    <a href="https://browsehappy.com/">upgrade your browser</a> to improve
    your experience and security.
</p>
<![endif]-->

<!-- ========================= preloader start ========================= -->
<div id="preloader" class="preloader">
    <div class="loader">
        <div class="spinner">
            <div class="spinner-container">
                <div class="spinner-rotator">
                    <div class="spinner-left">
                        <div class="spinner-circle"></div>
                    </div>
                    <div class="spinner-right">
                        <div class="spinner-circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ========================= preloader end ========================= -->

<!-- ========================= header-2 start ========================= -->

<header class="header header-2">
    <div class="navbar-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="{{ path('app_generator') }}">
                            <img src="{{ asset('/img/logo.jpg') }}" alt="Logo"/>
                        </a>
                        <button class="navbar-toggler" type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent2"
                                aria-controls="navbarSupportedContent2"
                                aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent2">
                            <ul id="nav2" class="navbar-nav ms-auto">
                                <li class="nav-item">
                                    <a class="page-scroll active"
                                       href="{{ path('app_generator') }}">{{ 'Home'|trans({}, 'HomePage') }}</a>
                                </li>
                                <li class="nav-item">
                                    <div class="dropdown ms-auto">
                                        <button class="btn btn-outline-primary dropdown-toggle d-flex align-items-center"
                                                type="button"
                                                data-bs-toggle="dropdown"
                                                aria-expanded="false">
                                            {% if app.request.locale == 'fr' %}
                                                <span class="fi fi-fr me-2"></span> FR
                                            {% elseif app.request.locale == 'en' %}
                                                <span class="fi fi-gb me-2"></span> EN
                                            {% elseif app.request.locale == 'es' %}
                                                <span class="fi fi-es me-2"></span> ES
                                            {% elseif app.request.locale == 'it' %}
                                                <span class="fi fi-it me-2"></span> IT
                                            {% elseif app.request.locale == 'de' %}
                                                <span class="fi fi-de me-2"></span> DE
                                            {% endif %}
                                        </button>

                                        <ul class="dropdown-menu dropdown-menu-end shadow">
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center flag-menu {{ app.request.locale == 'fr' ? 'active' : '' }}"
                                                   href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'fr'})) }}">
                                                    <span class="fi fi-fr me-2"></span> Français
                                                </a>

                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center flag-menu  {{ app.request.locale == 'en' ? 'active' : '' }}"
                                                   href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'en'})) }}">
                                                    <span class="fi fi-gb me-2"></span> English
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center flag-menu {{ app.request.locale == 'es' ? 'active' : '' }}"
                                                   href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'es'})) }}">
                                                    <span class="fi fi-es me-2"></span> Español
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center flag-menu {{ app.request.locale == 'it' ? 'active' : '' }}"
                                                   href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'it'})) }}">
                                                    <span class="fi fi-it me-2"></span> Italiano
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center flag-menu {{ app.request.locale == 'de' ? 'active' : '' }}"
                                                   href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'de'})) }}">
                                                    <span class="fi fi-de me-2"></span> Deutsch
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll"
                                       href="{{ path('app_generator') ~ '#feature' }}">{{ 'features'|trans({}, 'HomePage') }}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll"
                                       href="{{ path('app_generator') ~ '#pricing' }}">{{ 'Pricing'|trans({}, 'HomePage') }}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll"
                                       href="{{ path('app_generator') ~ '#partner' }}">{{ 'Partenaria'|trans({}, 'HomePage') }}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll"
                                       href="{{ path('app_generator') ~ '#contact' }}">{{ 'Contact'|trans({}, 'HomePage') }}</a>
                                </li>

                            </ul>

                            {% if app.request.attributes.get('_route') != 'app_generator_2' %}
                                <div class="buttons">
                                    <a href="{{ path('app_generator_2') }}" rel="nofollow" target="blank"
                                       class="button radius-10 wow fadeInUp"
                                       data-wow-delay=".7s">{{ 'StartNow'|trans({}, 'HomePage') }}</a>
                                </div>
                            {% endif %}

                            {% if app.user %}
                                <div class="dropdown">

                                    <a class="user-name dropdown-toggle"
                                       href="#"
                                       id="userDropdown"
                                       role="button"
                                       data-bs-toggle="dropdown"
                                       aria-expanded="false">
                                         <span class="ms-2 throne-icon">
                                                  {% if is_premium %}
                                                      <i class="fa-solid fa-crown"></i>
                                                  {% endif %}
            </span> {{ app.user.firstName }} {{ app.user.lastName }}
                                    </a>

                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                        <li>
                                            <a class="dropdown-item" href="{{ path('app_dashboard') }}">
                                                <i class="lni lni-dashboard"></i> Dashboard
                                            </a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li>
                                            <a class="dropdown-item text-danger" href="{{ path('app_logout') }}">
                                                <i class="lni lni-exit"></i> {{ 'logout'|trans({}, 'HomePage') }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            {% else %}
                                <span class="user-name">
                                    <a href="{{ path('app_login') }}">{{ 'Login'|trans({}, 'HomePage') }}</a>
                                </span>
                            {% endif %}

                        </div>
                        <!-- navbar collapse -->
                    </nav>
                    <!-- navbar -->
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div><!-- navbar area -->
</header>
<!-- ========================= header-2 end ========================= -->
{% block body %}

{% endblock %}

{# Inclusion du footer #}
{% include 'includes/footer.html.twig' %}

<!-- ========================= scroll-top start ========================= -->
<a href="#" class="scroll-top"> <i class="lni lni-chevron-up"></i> </a>
<!-- ========================= scroll-top end ========================= -->
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script>
        $("#preloader").hide();
    </script>
    <script>
        window.routes = {
            generatorCalculate: "{{ path('app_generator_calculate') }}",
            generatorDownload: "{{ path('app_generator_download') }}",
            generatorFavorite: "{{ path('app_generator_favorite') }}"
        };
    </script>
{% endblock %}


</body>
</html>